# GitHubの自動生成
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Xcodeプロジェクト関連
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
# cocos2d-x
cocos2d/
# cocos2d-xが自動生成した他のOSのフォルダ
proj.linux/
proj.win32/
proj.wp8-xaml/
# 画像ファイル
picture/9*
Thumbs.db
# viのスワップファイル
*.swp
# タグファイル
tags
# 音声ファイル
*.mp3
*.caf
# Admobメディエーション
GoogleMobileAds.framework
libAdapterNend*
libAdapterIAd*
# Nendライブラリ
Nend
# ID定義
Classes/Common/ID.cpp
proj.android-studio/app/res/values/ids.xml
# フォントファイル
*.ttf
# android関連のファイル
bin
proj.android-studio/app/assets/
proj.android-studio/app/libs/
proj.android-studio/app/obj/
*.jks
*.apk
