<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,387},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,391},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,267},{64,32}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,327},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,259},{64,32}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Block_06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,327},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,319},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,3},{44,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{44,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,395},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,319},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,319},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,475},{60,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,259},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,259},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,455},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>EnemyShot_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,363},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Enemy_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,475},{64,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,347},{64,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,963},{60,28}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,843},{60,28}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,843},{60,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,543},{60,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,543},{60,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,519},{60,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,415},{60,28}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,327},{60,28}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>Enemy_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,251},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,471},{64,48}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,395},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,387},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,59},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,963},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,583},{64,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,207},{64,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,475},{64,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,251},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,263},{64,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,267},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,195},{64,40}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,343},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,127},{64,40}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_13_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,275},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,451},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,963},{64,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,403},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,335},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,139},{64,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,779},{60,60}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,71},{64,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,575},{60,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,3},{64,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,715},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,963},{64,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,651},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,275},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,207},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,779},{252,180}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{252,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,3},{252,156}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,64},{252,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,523},{256,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_33_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,783},{228,248}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{228,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_34_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,3},{252,244}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{252,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_34_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,523},{252,244}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{252,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Enemy_35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Enemy_36_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,135},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>Enemy_36_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,3},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>Enemy_37_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Enemy_37_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Enemy_38_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,963},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{40,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_38_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,251},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_39_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,399},{120,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Enemy_39_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,343},{128,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Option_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,907},{52,48}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Option_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,907},{52,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Option_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,963},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PlayerShot_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,335},{28,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Player_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,411},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Character.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb5ad39b5fa37bd228cd99c469ca0f3:1/1$</string>
            <key>textureFileName</key>
            <string>Character.png</string>
        </dict>
    </dict>
</plist>
